<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Easy Data Generator</title>
</head>
<body>
  <div id="out">
    <canvas id="myCanvas" width=500px height=500px></canvas>
  </div>
  <div id="opr">
    <button id="clear">Clear</button>
    <button id="reset">Reset</button>
    <button id="download">Generate</button>
    <a href="" id="dl">download</a>
  </div>
  <div id="info">
    <button v-on:click="zoomIn" id="plus">+</button>
    <button v-on:click="zoomOut" id="minus">-</button>
    <div id="gridInput">
      <input id="inputaxis" v-model="ypos">
      <input id="inputaxis" v-model="yneg">
      <input id="inputaxis" v-model="xneg">
      <input id="inputaxis" v-model="xpos">
      <button v-on:click="updateAxis">update</button>
    </div>
    <div id="lab">
      <div id="label">ypos</div>
      <div id="label">yneg</div>
      <div id="label">xneg</div>
      <div id="label">xpos</div>
    </div>
  </div>
  <script src="./js/vue.js"></script>
  <script src="./js/main.js"></script>
</body>
</html>